body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 8%;
}

.banner-ps {
    background-color: blue;
}

.banner-xb {
    background-color: rgb(0, 255, 21);
}

.banner-steam {
    background: linear-gradient(rgb(0, 49, 139), rgb(0, 132, 255));
}

.banner-derecho {
    right: 0;
}

.banner-izquierdo {
    left: 0;
}

.banner img {
    max-width: 100%;
}

.button {
    background-color: orange;
    border-radius: 5px;
    border: none;
    color: black;
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
}

.container {
    max-width: 860px;
    margin: auto;
    padding: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card {
    box-shadow: 0px 0px 15px gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    align-items: center;
}

.card-xbox {
    background-color: green;
}

.card-play {
    background-color: blue;
}

.card-steam {
    background-color: aqua;
}